
{% extends 'base.html.twig' %}



    {% block body %}



            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    {% for image in post.images %}

                    <img src="{{ vich_uploader_asset(image, "imageFile") | imagine_filter('show') }}" alt="">
                    {% endfor %}

                    <h5 class="card-title">{{ post.title }}</h5>

                    {% if app.user %}

                        {% if post.author == app.user %}

                            <h6 class="card-subtitle mb-2 text-body-secondary">c'est toi</h6>

                        {% endif %}
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.author.email }}</h6>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="{{ path('app_post') }}">retour</a>
                    {% if post.author == app.user %}
                    <a href="{{ path('app_post_addimage', {id: post.id}) }}">ajouter image</a>
                    {% endif %}
                </div>
            </div>




{% endblock %}

